{{#paper-toolbar class="md-whiteframe-1dp page-main-toolbar" as |toolbar|}}
  {{#toolbar.tools}}
    {{#link-to 'index'}}Engine Demo{{/link-to}}

    <span class="flex"></span>

    {{#link-to 'admin.dashboard'}}{{#paper-button}}Admin{{/paper-button}}{{/link-to}}
    {{#link-to 'blog'}}{{#paper-button}}Blog{{/paper-button}}{{/link-to}}
  {{/toolbar.tools}}
{{/paper-toolbar}}

{{outlet}}