{{#paper-toolbar class="md-whiteframe-1dp page-main-toolbar" as |toolbar|}}
  {{#toolbar.tools}}
    {{#link-to 'index'}}Engine Demo{{/link-to}}

    <span class="flex"></span>

    {{#paper-button aria-label="Favorite"}}
        {{#link-to 'blog'}}Admin{{/link-to}}
    {{/paper-button}}
    
    {{#paper-button aria-label="Favorite"}}
        {{#link-to 'blog'}}Blog{{/link-to}}
    {{/paper-button}}
  {{/toolbar.tools}}
{{/paper-toolbar}}

{{outlet}}